<div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur vero autem repudiandae voluptatem ab molestias temporibus eos ipsa eaque eius.
        </div>
    </div>
</div>
<div style="width: 35%; padding: 4rem">
    <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur vero autem repudiandae voluptatem ab molestias temporibus eos ipsa eaque eius.
        </div>
    </div>
</div>