<div class="card testimonial">
    <div class="grid grid--cols-2">
        <div class="testimonial__image">
            <img src="./images/testimonial.jpg" alt="A smiing person" />
            <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="../images/sprite.svg#quotes"></use>
        </svg>
      </span>
        </div>
        <blockquote class="quote">
            <p class="quote__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste praesentium porro aliquam voluptate deserunt sint nihil magni tempore minima, aut in, deleniti suscipit iure est. Hic impedit repellat recusandae iure.
            </p>
            <footer>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary quote__line">
              <use xlink:href="../images/sprite.svg#line"></use>
            </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title quote__author">Shaam Idrees</h3>
                        <p class="quote__company">XYZ Company</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
</div>